h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color: rgb(153, 0, 255);
}
canvas
{
    animation-name: filter_mustache;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes filter_mustache {
    from{box-shadow: 1px 1px 38px crimson ;}
    to{box-shadow: 1px 1px 38px rgb(0, 195, 255);};
}